@model examenEFCrudMVC1.ViewModel.EmpleadoVM

@{
    ViewData["Title"]= "Gestion Empleados";
}

<div class="container">

    <div class="mb-3">
        <div class="card shadow-sm">
            <div class="card-header">
                <h2 class="fw-bold">Agregar Usuario</h2>
            </div>
            <div class="card-body">
                <form asp-action="Editar" method="post">
                    <div class="d-flex align-items-center mb-3">
                        <label class="fw-bold me-3" style="width: 120px;">Empleado: </label>
                        <input asp-for="EmpleadoModelReference.NombreEmpleado" class="form-control w-auto" style="max-width: 300px;" required />
                    </div>
                    <div class="d-flex align-items-center mb-1">
                        <label class="fw-bold me-3" style="width: 120px;">Departamento: </label>
                        <select class="form-select w-auto" style="max-width: 300px;" asp-for="EmpleadoModelReference.IdDepartamento"
                                asp-items="@(new SelectList(Model.ListaDepartamentos, "IdDepartamento", "NombreDepartamento"))" required>
                            <option value="">--Selecciona un Departamento--</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-outline-success m-2">
                        <i class="bi bi-save"></i> Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="card">
            <div class="card-header">
                <h2>Filtro por Departamento</h2>
            </div>
            <div class="card-body d-flex align-items-center ">
                <select class="form-select me-3" style="max-width: 300px;" onchange="location.href='?idDep=' + this.value">
                    <option value="0">--Ver Todo--</option>
                    @foreach (var dep in Model.ListaDepartamentos)
                    {
                        <option value="@dep.IdDepartamento" selected="@(dep.IdDepartamento == ViewBag.IdSeleccionado)">
                            @dep.NombreDepartamento
                        </option>
                    }
                </select>
                <a asp-action="Index" class="btn btn-outline-info"><i class="bi bi-eraser"></i> Limpiar</a>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Id Empleado</th>
                    <th>Nombre Empleado</th>
                    <th>Departamento</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ListaEmpleados == null || !Model.ListaEmpleados.Any())
                {
                    <tr>
                        <td class="fw-bold">
                            No se encontraron empleados con los requerimientos seleccionados
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
                else
                {
                    @foreach (var emp in Model.ListaEmpleados)
                    {
                        <tr>
                            <td class="fw-bold">@emp.IdEmpleado</td>
                            <td>@emp.NombreEmpleado</td>
                            <td>@emp.IdDepartamentoNavigation.NombreDepartamento</td>
                            <td>
                                <div class="d-flex gap-2">
                                    <form asp-action="Estado" method="post">
                                        <input type="hidden" name="idEmp" value="@emp.IdEmpleado" />
                                        <input type="hidden" name="idDep" value="@ViewBag.IdSeleccionado" />
                                        <button type="submit" class=" btn @(emp.Activo == true ? "btn-outline-warning" : "btn-outline-primary")">
                                            @if (emp.Activo == true)
                                            {
                                                <i class="bi bi-toggle-off"></i>
                                    
                                                <text>Desactivar</text>
                                            }
                                            else
                                            {
                                                <i class="bi bi-toggle-on"></i>
                                    
                                                <text>Activar</text>
                                            }
                                        </button>
                                    </form>
                                    <a asp-action="Editar" asp-route-idEmp="@emp.IdEmpleado" class="btn btn-outline-secondary"><i class="bi bi-pencil"></i> Editar</a>
                                    <form asp-action="Eliminar" method="post" onsubmit="return confirm('¿Seguro que deseas eliminar a @emp.NombreEmpleado?');">
                                        <input type="hidden" name="idEmp" value="@emp.IdEmpleado"/>
                                        <button type="submit" class="btn btn-outline-danger"> <i class="bi bi-trash"></i> Eliminar</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>